
@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-sm-12">
        <button class="btn" style="float:right;background-color:lightblue" onclick="location.href='@Url.Action("Vtor", "Home")'">Назад</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron" style="margin-top:40px">
            <h2>Систем за пребарување и навигација до ковид центри</h2>
            <p>
                Преку овој систем, корисниците ќе имаат можност во секој момент да најдат најблиско место каде можат да направат PCR тест за COVID-19, тест за антитела и сл.
                Со користење на оваа програма е олеснето наоѓањето на центрите каде може да се направи тест и овозможува лесна навигација до него.
                Проблемот со кој се соочуваме е пандемија од светско ниво.
                Почнувајќи од овој факт треба да забележеме и да размслиме за тоа како би го решиле проблемот настанат од оваа пандемија со цел да се обезбеди лесен пристап до тест и стручен медицински и епидемиолошки персонал.
                Нашиот систем систем елиминира непотребни контакти и овозможува лесен пристап до секаков тест.
            </p>
        </div>
    </div>
</div>